@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}


a{
  text-decoration: none;
  color:inherit;
}

body{
  color: #0d1216
}

.masterWrap{
  display: flex;
  width: 100%;
  position: relative;
}

.sideBarWrap{
  height: 100vh; 
  position: relative;
  width: 18%;
  border-right: 1px solid #dbdbdb;
  padding-right: 3px;

}

.mainPage{
  width: 82%;
}

@media only screen and (max-width:950px){
  .sideBarWrap{
    display: none;
  }

  .mainPage{
    width: 100%;
  }
}


:root{
  --clr:#222327;
}

.wrap-pre{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  background: var(--clr);
}

.navigation-action{
  width: 400px;
  min-width: 400px;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation-action ul{
  display: flex;
  width: 350px;
}

.navigation-action ul li{
  position: relative;
  list-style: none;
  cursor: pointer;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation-action ul li a{

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation-action ul li a .icon{
  font-weight: 600;
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s;
  color:var(--clr);
}

.navigation-action ul li.active a .icon{
  transform: translateY(-35px);
}

.navigation-action ul li a .text{
  margin-top: 10px;
  position: absolute;
  color:var(--clr);
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(15px);
}

.navigation-action ul li.active a .text{
  opacity: 1;
  transform: translateY(5px);
}

.indicator{
  position: absolute;
  top: -55%;
 left: 18px;
  width: 60px;
  height: 60px;
  background: #29fd53;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}

.indicator::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -22.5px;
  width: 20px;
  height: 20px;
 
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--clr);
  background: transparent;

}

.indicator::after{
  content: '';
  position: absolute;
  top: 50%;
  right: -22.5px;
  width: 20px;
  height: 20px;
  
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
  background: transparent;

}

.navigation-action ul li:nth-child(1).active ~ .indicator{
  transform: translate(6px);
}

.navigation-action ul li:nth-child(2).active ~ .indicator{
  transform: translate(76px);
}

.navigation-action ul li:nth-child(3).active ~ .indicator{
  transform: translate(146px);
}

.navigation-action ul li:nth-child(4).active ~ .indicator{
  transform: translate(216px);
}

.navigation-action ul li:nth-child(5).active ~ .indicator{
  transform: translate(286px);
}

.msg{
  font-size: x-large;
  color: #fff;
  text-align: center;
  display: none;
}

@media only screen and (max-width:450px){
  .wrap-pre{
    overflow: scroll;
  }
}

.wrap-action-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #FF5757;
}

.wrap-action-button video{
  width: 800px;
  height: 300px;
}


