.wrap{
    padding: 20px;
}
.preview{
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 20px 0px #00000050;
}

.path{
    font-size: small;
}

.path a{
    text-decoration: underline;
}

